@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4ade80;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #4ade80;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.footer-bg-img {
  background: white url(/footer-bg.png) no-repeat right top;
  /* background-image: url('/footer-bg.png'); */
  background-size: cover;
}

.banner-bg-img {
  background: white url(/hero-bg.png) no-repeat right top;
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4ade80;
  }
}

@layer components {
  .label-style {
    @apply mt-3 h-6 text-xs font-bold uppercase  text-black;
  }

  .select-style {
    @apply w-full p-2 my-2 border-gray-300 rounded-lg shadow-sm
    focus:border-indigo-500 focus:ring-indigo-500;
  }
  .grid-style {
    @apply grid grid-cols-1 md:grid-cols-2 gap-3;
  }
  .input-div-style {
    @apply my-2 flex rounded border border-gray-300 bg-white p-1;
  }
  .input-style {
    @apply w-full appearance-none p-1 px-2 text-gray-800 outline-none;
  }
}
